@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$outfit: "Outfit", sans-serif;
$roboto: "Roboto", sans-serif;

$size-title: 2rem;
$size-sub-title: 1.4rem;
$size-regular: 1rem;
