//COLORES
$dark-blue: #1e3a8a;
$med-blue: #2563eb;
$light-blue: #60a5fa;
$green-blue: #065666;

$dark-red: #7f1d1d;
$med-red: #dc2626;
$light-red: #f87171;

$dark-green: #064e3b;
$med-green: #059669;
$light-green: #6ee7b7;

$dark-yellow: #ca8a04;
$med-yellow: #facc15;
$light-yellow: #fef08a;

$font-white-transparent: #f9fafb80;
$font-white: #f9fafb;
$font-gray: #6b7280;
$font-black: #191827;
$skeleton-input: #ccc;

//TRANSICIONES
$transition-time: 200ms;
$cubic-bezier: transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
//BREAKPOINTS
$bp-tablet: 480px;
$bp-desktop: 768px;
$bp-tv: 1200px;
