//COLORES
$dark-blue: #1e3a8a;
$med-blue: #2563eb;
$light-blue: #60a5fa;

$dark-red: #7f1d1d;
$med-red: #dc2626;
$light-red: #f87171;

$dark-green: #064e3b;
$med-green: #059669;
$light-green: #6ee7b7;

$dark-yellow: #ca8a04;
$med-yellow: #facc15;
$light-yellow: #fef08a;

$font-white: #f9fafb;
$font-gray: #6b7280;
$font-black: #191827;

//TRANSICIONES
$transition-time: 200ms;
