@use "../abstracts/variables";
@use "../abstracts/mixins";

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: variables.$light-yellow;
  &__title {
    @include section-margin;
    @include title;
  }
}
