.organization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @media (min-width: 480px) {
    min-width: 300px;
    max-width: 500px;
  }
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.459);
  margin: 0 auto;
  &__container {
    display: flex;
    align-items: center;
    background-color: #065666b4;
    min-height: calc(100vh - 70px);
  }
  &__title {
    @include roboto_title;
    text-align: center;
  }
  &__subtitle {
    @include roboto-regular-bold;
    font-size: 1.3rem;
  }
  &__text {
    margin-left: 25px;
    font-size: 1.3rem;
  }
  &__text-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__button {
    align-self: center;
  }
}
