.activitiesForm {
  width: 60%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.activitiesForm__input {
  padding: 15px 30px;
  border: 1px solid #c1c1c1;
}

.select-field {
  padding: 10px;
  border: 1px solid #c1c1c1;
}

.activitiesForm__button {
  background-color: #2e86c1;
  padding: 10px 15px;
  border: none;
  color: #fff;
}

.activitiesForm__button:hover {
  cursor: pointer;
  background-color: #3498db;
}
