@import "../../sass/main.scss";

.form {
  display: flex;
  flex-direction: column;
  background-color: $font-white-transparent;
  margin: 0 auto;
  width: 400px;
  padding: 10px 30px;
  border-radius: 10px;

  &__divider {
    width: 100%;
    height: 1px;
    background-color: black;
    border: none;
  }
  &__slide {
    display: flex;
    flex-direction: column;
  }
  &__button {
    margin: 20px auto;
  }

  &__title {
    @include outfit-title();
  }
  &__subtitle {
    @include outfit-subtitle();
    color: $font-gray;
  }
  &__sliders-title {
    margin-top: 30px;
    @include outfit-title();
  }
  &__label {
    @include roboto-regular-bold();
  }
}

.HomeForm {
  background-color: $light-blue;
}
