@use "../abstracts/variables";
@use "../base/typography";

.footer {
	&__container {
		background: rgba(183, 190, 201, 0.26);
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		max-width: 1440px;
		height: 300px;
		margin: 0 auto;
		font-family: $roboto;
	}

	&__img {
		width: 50%;
	}

	&__logo {
		width: 100%;
		display: block;
		max-width: 180px;
		object-fit: cover;
		height: auto;
		margin: 0 auto;
	}

	&__separador {
		width: 80%;
		border: solid 1px #cccccc;
		margin: 1rem auto;
	}

	&__web {
		display: none;
	}

	&__web-titulo {
		color: $font-gray;
		text-align: center;
		font-size: $size-subtitle;
		margin: 0;
	}

	&__campanas {
		display: none;
	}

	&__redes {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
	}

	&__redes-titulo {
		color: $font-gray;
	}

	&__web-link {
		color: $font-gray;
		text-align: center;
		font-size: $size-regular;
		margin: 0;
	}

	&__redes-logo {
		display: block;
		width: 35px;
		object-fit: cover;
		margin-left: 1rem;
	}

	&__redes-titulo {
		color: $font-gray;
		display: none;
	}

	&__campanas-titulo {
		color: $font-gray;
		font-size: $size-title;
	}

	&__campanas-link {
		color: $font-gray;
		font-size: $size-subtitle;
	}

	&__legales {
		width: 100%;
		background: $dark-blue;
		height: 50px;
	}

	&__legales-texto {
		font-size: 14px;
		font-family: $roboto;
		color: #fff;
		text-align: center;
		padding: 10px;
	}

	@media (min-width: 768px) {
		&__container {
			flex-direction: row;
		}

		&__img {
			width: 20%;
		}

		&__separador {
			display: none;
		}

		&__web {
			display: block;
		}

		&__redes {
			width: 25%;
		}

		&__redes-logo {
			width: 50px;
		}
	}

	@media (min-width: 1440px) {
		&__container {
			align-items: flex-start;
			padding-top: 2rem;
		}

		&__web-titulo {
			font-size: $size-title;
		}

		&__web-link {
			font-size: $size-subtitle;
		}

		&__redes {
			flex-direction: column;
		}

		&__redes-logo {
			display: inline;
		}

		&__redes-titulo {
			display: inline-block;
		}

		&__legales {
			height: 80px;
		}

		&__legales-texto {
			font-size: $size-subtitle;
			padding: 25px;
		}
	}

	@media (min-width: 1600px) {
		&__container {
			align-items: flex-start;
			padding-top: 2rem;
		}

		&__campanas {
			display: block;
		}
	}
}
