.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}
.card {
  &__wrapper {
    width: 279px;
    height: 374px;
    position: relative;
    overflow: hidden;

    @include breakpoint(phone) {
      box-shadow: 6px 6px 22px 6px rgba(0, 0, 0, 0.3);
    }
  }
  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    transform: scale(1.2);
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    text-align: center;
    z-index: 1;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    left: calc(59px / 2);
    height: 100px;
    width: 220px;
    margin-bottom: -50px;
    opacity: 0.9;
    &:hover {
      margin-bottom: -10px;
      transition: margin-bottom 0.4s ease-in;
    }
    &:not(:hover) {
      transition: margin-bottom 0.4s ease-out;
    }
    @include breakpoint(phone) {
      width: 100%;
      left: 0;
      margin-bottom: -10px;
    }
  }
  &__title {
    margin: 0;
    padding-top: 5px;
    @include roboto-subtitle;
    color: $dark-blue;
  }
  &__text {
    @include roboto-regular-bold;
    color: $light-blue;
  }
}
