.content {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    max-width: 1300px;
  }

  &__title {
    @include roboto-title;
    color: $dark-blue;
    text-transform: uppercase;
  }

  &__description {
    @include roboto-regular-bold;
    color: $font-gray;
    margin-top: 25px;
    max-width: 700px;
  }

  &__img {
    display: none;
  }
  &__countdown {
    display: none;
  }
  @media only screen and (min-width: 667px) {
    &__countdown {
      display: block;
      margin-top: 25px;
      span {
        @include outfit-title;
        background-color: $med-yellow;
        padding: 20px;
        color: $font-white;
        font-size: 2rem;
        border-radius: 15px;
      }
    }
  }
}
