.donation {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    max-width: 1400px;
    text-align: center;
    @include outfit-title;
    color: $dark-blue;
  }
  &_link {
    text-decoration: none;
  }
}
