@use "../abstracts/variables";
@use "../abstracts/mixins";

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  max-width: 500px;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.459);
  margin: 0 auto;
  &__container {
    display: flex;
    align-items: center;
    background-color: #065666b4;
    min-height: calc(100vh - 70px);
  }
  &__subcontainer {
    display: flex;
    flex-direction: column;
  }
  &__input {
    height: 2.5em;
    border-radius: 10px;
    margin: 0 0 1em 0;
    border-style: none;
  }
  &__label {
    margin: 0.5em 0 0.5em 0;
    text-align: left;
    font-weight: bold;
  }
  &__error {
    color: variables.$med-red;
    font-weight: bold;
  }
  &__option {
    font-size: 1rem;
  }
  &__button {
    height: 2.5em;
    border-radius: 10px;
    background-color: variables.$green-blue;
    border-style: none;
    color: variables.$font-white;
    margin-top: 1em !important;
    font-weight: bold;
    &:hover {
      cursor: pointer;
      background-color: variables.$light-green;
    }
  }
  &__divider {
    width: 100%;
    height: 1px;
    background-color: black;
    border: none;
  }
  &__title {
    @include outfit-title();
    margin: 0;
    margin-top: 10px;
  }
  &__subtitle {
    @include outfit-subtitle();
    margin: 0;
    margin-bottom: 30px;
  }
}
