.separator {
  @include outfit-title();
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 20vh;
  background-size: cover !important;
  background-position: center !important;
  color: $font-white;
}
