@use "../abstracts/variables";
@use "../abstracts/mixins";

.skeleton_card_container {
  display: flex;
  margin: 2em 0 0 0;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.skeleton_card {
  position: relative;
  margin: 1em 1em 1em 1em;
  &:empty {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40vh;
    width: 15em;
    background-image: radial-gradient(circle 1.7em, #ccc 100%, transparent),
      linear-gradient($skeleton-input, $skeleton-input),
      linear-gradient($skeleton-input, $skeleton-input),
      linear-gradient($font-white, $font-white);
    background-size: 10em 6em, 12em 2em, 12em 2em, 100% 100%;
    background-position: 50% 24px, 50% 7.5em, 50% 11em, 0 0;
    background-repeat: no-repeat;
  }
  &:empty:after {
    content: "";
    height: 6px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to left, $light-green 0, $light-blue);
    background-size: 200% 200%;
    animation: loadingGradient 1s infinite;
  }
}

.skeleton_list_container {
  width: 100%;
  justify-content: center;
}

.skeleton_list {
  position: absolute;
  margin: 2em 0 1em 0;
  &:empty {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 90vh;
    width: 90%;
    margin-left: 5%;
    background-image: linear-gradient($skeleton-input, $skeleton-input),
      linear-gradient($skeleton-input, $skeleton-input),
      linear-gradient($skeleton-input, $skeleton-input),
      linear-gradient($skeleton-input, $skeleton-input),
      linear-gradient($skeleton-input, $skeleton-input),
      linear-gradient($skeleton-input, $skeleton-input),
      linear-gradient($skeleton-input, $skeleton-input),
      linear-gradient($font-white, $font-white);
    background-size: 90% 2em, 90% 2em, 90% 2em, 90% 2em, 90% 2em, 90% 2em,
      90% 2em, 100% 100%;
    background-position: 50% 4em, 50% 8em, 50% 12em, 50% 16em, 50% 20em,
      50% 24em, 50% 28em, 0 0;
    background-repeat: no-repeat;
  }
  &:empty:after {
    content: "";
    height: 6px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to left, $light-green 0, $light-blue);
    background-size: 200% 200%;
    animation: loadingGradient 1s infinite;
  }
}

.skeleton_image_container {
  width: 100%;
  justify-content: center;
}

.skeleton_image {
  position: relative;
  margin: 2em 0 1em 0;
  & :empty {
    height: 90vh;
    width: 90%;
    margin-left: 5%;
    background-image: linear-gradient($skeleton-input, $skeleton-input);
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  &:empty:after {
    content: "";
    height: 6px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to left, $light-green 0, $light-blue);
    background-size: 200% 200%;
    animation: loadingGradient 1s infinite;
  }
}

.skeleton_form_container {
  display: flex;
  margin: 8vh 0 0 0;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.skeleton_form {
  position: relative;
  margin: 1em 1em 1em 1em;
  &:empty {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 80vh;
    width: 30em;
    background-image: radial-gradient(circle 3em, #ccc 100%, transparent),
      linear-gradient($skeleton-input, $skeleton-input),
      linear-gradient($skeleton-input, $skeleton-input),
      linear-gradient($skeleton-input, $skeleton-input),
      linear-gradient($skeleton-input, $skeleton-input),
      linear-gradient($font-white, $font-white);
    background-size: 10em 6em, 60% 2em, 60% 2em, 60% 2em, 25% 2em, 100% 100%;
    background-position: 50% 20%, 50% 50%, 50% 60%, 50% 70%, 73% 80%, 0 0;
    background-repeat: no-repeat;
  }
  &:empty:after {
    content: "";
    height: 6px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to left, $light-green 0, $light-blue);
    background-size: 200% 200%;
    animation: loadingGradient 1s infinite;
  }
}

@keyframes loadingGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 0%;
  }
}
