@import "../main.scss";

.slider {
  max-width: 992px;
  overflow: hidden;
  margin: 50px auto;
  height: auto;
  position: relative;
  width: 100%;
  @media (min-width: 768px) {
    width: 90%;
  }

  &__item {
    min-width: 100%;
    overflow: hidden;
    transition: 0.3s ease all;
    max-height: 500px;
    position: relative;
  }

  &__img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
  }

  &__text {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;

    @media (min-width: 768px) {
      display: inherit;
    }

    &--title {
      font-weight: bold;
    }
  }

  &__container {
    display: flex;
    flex-wrap: nowrap;
  }

  &__controllers {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__arrow-button {
    pointer-events: all;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    position: absolute;
    top: 50%;
    transition: 0.3s ease all;
    font-size: 3rem;
    width: 60px;

    &--right {
      right: 0;
    }
    &--left {
      left: 0;
    }
  }
}
