@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/typography";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-height: 70px;
  z-index: 999;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: variables.$med-yellow;
  @media (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  &__logo {
    max-width: 150px;
    width: 100%;
    min-width: 90px;
  }
  &__nav {
    display: flex;
    gap: 2vw;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__link {
    @include outfit-regular-bold;
    text-decoration: none;
    text-align: center;
    color: variables.$green-blue;
    &:hover {
      cursor: pointer;
      color: variables.$med-green;
    }
  }
  &__logbar {
    width: 100%;
    background-color: variables.$light-yellow;
    display: flex;
    justify-content: end;
    padding: 5px;
  }
  &__logbutton {
    @include border-rounded;
    @include outfit-regular;
    font-size: 14px;
    border: none;
    background-color: variables.$dark-green;
    color: variables.$font-white;
    min-width: 120px;
    height: 30px;
    transition: variables.$transition-time;
    &:hover {
      cursor: pointer;
      background-color: variables.$med-green;
    }
  }
}
